@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Rubik+Doodle+Shadow&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body{
    background-color: #fdfd96;
}

header{
    background-color: #840007;
    padding: 30px;
}

h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Rubik Doodle Shadow', monospace, sans-serif;
    color: white;
    margin-bottom: 10px;
}


img{
    width: 200px;
    height: 250px;
    border: 2px solid black ;
    
}

.container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    background-color: #ffffff;
    width: 250px;
    height: 420px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.60);
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: background-color,border,border-radius .3s ease-in-out;
}

.card:hover{
    background-color: #efefef;
    border: 2px solid black;
    border-radius: 0px;
}

h2{
    margin-top: 10px;
}

.botones{
    margin-top: 20px;
}

div > button{
    display: block;
    margin: 8px auto;
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #69cd68;
    font-weight: bold;
}



li{
    border: solid 2px;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    background-color: #ad7e94;
    color: white;
    transition: background-color .2s ease-in-out;
}

a{  
    color: white;

}

button{
    transition: background .3s ease-in-out;
}

button:hover{
    background-color: #4cad4c;
}


nav{
    display: flex;
    justify-content: center;
    
}

nav a{
    text-decoration: none;
    margin: 0;
    
}


nav li{
    display: inline-block;
    align-items: right;
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
}

li:hover{
    background-color: #8f6277;
    color: #000;
}

li:hover > a{
    color: #000;
    font-weight: bold;
}

